<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.garan.counterpart">

    <!-- Required for HR sensor -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <!-- Required for Foreground Service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".WearCounterpartActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service responsible for managing sensor collection and sending to phone -->
        <service android:name=".WearCounterpartService" />

        <!-- Service responsible for listening to data layer messages specific to launching the
             Wear app -->
        <service
            android:name="com.garan.counterpart.WearCounterpartListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <!-- Important to specify this path to act as a filter, for performance -->
                <data
                    android:host="*"
                    android:path="/counterpart_app_launch"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>
    <queries>
        <package android:name="com.google.android.wearable.healthservices" />
    </queries>
</manifest>